{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": ["transform-class-properties", "@babel/plugin-transform-runtime"]
}
// {
//     "presets": [
//         [
//             "@babel/preset-env",
//             {
//                 "useBuiltIns": "entry"
//             }
//         ],
//         "@babel/preset-react"
//     ],
//     "plugins": [
//         "transform-class-properties",
//         "@babel/plugin-proposal-class-properties"
//         // "@babel/plugin-proposal-export-default-from"
//     ]
// }
